<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% block content %}
<style>
    .error {
        color: #ff284e;
    }
    .success {
        color: #4eb718;
    }
</style>
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center">Réinitialiser votre mot de passe</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-4">
                    <h4>Mot de passe perdu ?</h4>
                    <p>Entrer votre adresse e-mail et on vous envoi les instructions "comment réinitialiser votre mot de
                        passe".</p>
                </div>
                <form method="POST" action="{% url 'reset' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required class="form-control" name="email" id="id_email" type="email"
                               aria-describedby="emailHelp"
                               placeholder="Entrer votre adresse email ">
                               {% if messages %}
                               <ul>
                                   {% for message in messages %}
                                       <li
                                               {% if message.tags %}
                                                   class="{{ message.tags }}"
                                               {% endif %}>
                                           {{ message }}
                                       </li>
                                   {% endfor %}
                               </ul>
                           {% endif %}
                    </div>
                    <input type="submit" value="Envoyer les instructions !" class="btn btn-primary btn-block">
                </form>
                <div class="text-center">
                    <a class="d-block small" href="{% url 'login' %}">Page de connexion</a>
                    <hr>
                    <a class="d-block small mt-3" href="{% url 'index' %}"> Page d'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}