{% extends "temp/base.html" %}
{% block title %}
  ATOUTS | UTA
{% endblock title %}
{% load static  %}
{% block content %}
{% include "temp/navbar.html" %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-upper">
                    <strong>NOS ATOUTS</strong>
                </h1>
                <hr>
            </div>
        </div>
    </div>
</header>
<div class="container mt-4">
    <h3 class="text-center" style="color: green;">ATOUTS PRINCIPAUX</h3>
    <div class="border-bottom"></div>
    <div class="row">
        <h3 class="ml-5 mt-3"><i class="fa fa-angle-right ml-4"></i><span style="color: green;"> UTA</span> dispose de nombreux atouts tels que :</h3>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-sm-4">
              <div class="card shadow-sm">
                <img src="{% static 'img/igl3.jpg' %}" alt="" style="height: 100%; width: 100%;">
                <div class="card-body">
                  <h4 class="card-text">CAR SCOLAIRE</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Modi ab deleniti veniam quo nam, nisi earum
                    repellat harum nihil quaerat obcaecati quasi dolorum a quae ea. Optio quaerat deleniti itaque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card shadow-sm">
                <img src="{% static 'img/black-students.jpg' %}" alt="" style="height: 100%; width: 100%;">    
                <div class="card-body">
                    <h4 class="card-text">INTERNAT</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Modi ab deleniti veniam quo nam, nisi earum
                    repellat harum nihil quaerat obcaecati quasi dolorum a quae ea. Optio quaerat deleniti itaque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card shadow-sm">
                <img src="{% static 'home_page/img/header2.jpg' %}" alt="" style="height: 100%; width: 100%;">
                <div class="card-body">
                    <h4 class="card-text">SALLE INFORMATIQUE</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Modi ab deleniti veniam quo nam, nisi earum
                    repellat harum nihil quaerat obcaecati quasi dolorum a quae ea. Optio quaerat deleniti itaque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card shadow-sm">
                <img src="{% static 'img/black-students.jpg' %}" alt="" style="height: 100%; width: 100%;">
                <div class="card-body">
                    <h4 class="card-text">CAMPUS 5G</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Modi ab deleniti veniam quo nam, nisi earum
                    repellat harum nihil quaerat obcaecati quasi dolorum a quae ea. Optio quaerat deleniti itaque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card shadow-sm">
                <img src="{% static 'img/black-students.jpg' %}" alt="" style="height: 100%; width: 100%;">    
                <div class="card-body">
                    <h4 class="card-text">SALLE CLIMATISEE </h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Modi ab deleniti veniam quo nam, nisi earum
                    repellat harum nihil quaerat obcaecati quasi dolorum a quae ea. Optio quaerat deleniti itaque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card shadow-sm">
                <img src="{% static 'img/black-students.jpg' %}" alt="" style="height: 100%; width: 100%;">
                <div class="card-body">
                    <h4 class="card-text">SALLE CLIMATISEE </h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Modi ab deleniti veniam quo nam, nisi earum
                    repellat harum nihil quaerat obcaecati quasi dolorum a quae ea. Optio quaerat deleniti itaque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
    </main>
</div>
<div class="container">
    <div class="row">
        <div class="h-100 p-5 text-dark bg-light rounded-3">
            <h3 class="mt-3"><i class="fa fa-angle-right ml-4"></i> <span style="color: green;">Couts du transport et cité</span></h3>
           <div class="border-bottom"></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed" width="100%" cellspacing="0">
                        <thead >
                          <tr class="table-primary">
                            <th >Cycle :tous les niveaux</th>
                            <th>Inscription</th>
                            <th>Versement 1(Retours des congés de noel)</th>
                            <th>Versement 2(Fevrier)</th>
                            <th>Montant Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>La cité</td>
                              <td class="numeric">300.000</td>
                              <td class="numeric">300.000</td>
                              <td class="numeric">300.000</td>
                              <td class="numeric">900.000</td>
                            </tr>
                            <tr>
                                <td>La cité</td>
                                <td class="numeric">300.000</td>
                                <td class="numeric">200.000</td>
                                <td class="numeric">200.000</td>
                                <td class="numeric">700.000</td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <strong class="ml-3">Payer 900.000 pour :</strong>
            <div class="form-group">
                <ul class="text-secondary">
                    <li>Petit déjeuner.</li>
                    <li>Déjeuner</li>
                    <li>Diner.</li>
                </ul>
            </div>
            <strong class="ml-3">Payer 700.000 pour :</strong>
            <div class="form-group">
                <ul class="text-secondary">
                    <li>Déjeuner.</li>
                    <li>Diner.</li>
                </ul>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed" width="100%" cellspacing="0">
                        <thead >
                          <tr class="table-primary">
                            <th >Cycle</th>
                            <th>Destination</th>
                            <th>Inscription</th>
                            <th>Versement 1(retour des congés de noel)</th>
                            <th>Versement 2(Fevrier)</th>
                            <th>Montant Total</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>Tous les niveaux</td>
                              <td >Toutes les communes</td>
                              <td class="numeric">100.000</td>
                              <td class="numeric">50.000</td>
                              <td class="numeric">50.000</td>
                              <td>200.000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <h3 class="text-center" style="color: green;">Activités Extrat Scolaire</h3>
                <div class="border-bottom"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis vitae odio quod dolorum quam quos iusto possimus
                    nulla sunt sequi, nostrum doloribus ullam similique ducimus? 
                    Consequatur hic neque aut quod.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis vitae odio quod dolorum quam quos iusto possimus
                    nulla sunt sequi, nostrum doloribus ullam similique ducimus? 
                    Consequatur hic neque aut quod Consequatur hic neque aut quod Consequatur.
                </p>
           </div>
           <div class="album ">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{% static 'img/african_american_student_reading.jpg' %}" alt="">
                                <div class="card-body">
                                <h3 class="card-text">This is a wider card with. This content is a little bit longer.</h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae dolor,
                                    laborum aut nostrum enim ad nulla tempore optio alias quas laboriosam doloremque.
                                    Laudantium necessitatibus iusto animi consectetur maxime excepturi libero!
                                    laborum aut nostrum enim ad nulla tempore optio alias quas laboriosam doloremque.
                                    Laudantium necessitatibus iusto animi consectetur maxime excepturi libero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/African_American_Scholarships.jpg' %}" alt="">
                            <div class="card-body">
                            <h3 class="card-text">This is a wider card with. This content is a little bit longer.</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae dolor,
                                laborum aut nostrum enim ad nulla tempore optio alias quas laboriosam doloremque.
                                Laudantium necessitatibus iusto animi consectetur maxime excepturi libero!
                                laborum aut nostrum enim ad nulla tempore optio alias quas laboriosam doloremque.
                                Laudantium necessitatibus iusto animi consectetur maxime excepturi libero
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'img/black-students.jpg' %}" alt="">
                        <div class="card-body">
                        <h3 class="card-text">This is a wider card with. This content is a little bit longer.</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae dolor,
                            laborum aut nostrum enim ad nulla tempore optio alias quas laboriosam doloremque.
                            Laudantium necessitatibus iusto animi consectetur maxime excepturi libero!
                            laborum aut nostrum enim ad nulla tempore optio alias quas laboriosam doloremque.
                            Laudantium necessitatibus iusto animi consectetur maxime excepturi libero
                            </p>
                        </div>
                    </div>
                </div>
           </div>
        </div>
     </div>
    </div>
  </div>
</div>
{% include "temp/footer.html" %}
{% endblock content %}